<% if params[:controller] == 'about' %>
<div class="well">
  <h3>Location info</h3>
  <ul>
    <li>My bookstore</li>
    <li>123 any street</li>
    <li>Cooltown, NC, 27712</li>
    <li>Phone: 123-456-7890</li>
    <li>Email: whatever@example.org</li>
  </ul>
</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<ul class="list-group">
  <li class="list-group-item">Good books</li>
  <li class="list-group-item">Other good books</li>
  <li class="list-group-item">Different good books</li>
</ul>
