<div id="books-show">
  <h2>Green Eggs and Ham</h2>
  <div class="books-show-left">
    <%= image_tag('greeneggsandham.jpg') %>
  </div>
  <div clas="books-show-right">
     <h3>Book info:</h3>
     <ul>
       <li><strong>Category: </strong>Good books</li>
       <li><strong>Author: </strong> Dr. Seuss</li>
       <li><strong>Publisher: </strong> GoodBooks ltd.</li>
       <li><strong>ISBN: </strong> 123445</li>
       <li><strong>Format: </strong> Harcover</li>
       <li><strong>Pages: </strong> 35</li>
     </ul>
     <a href="Buy for $5.45", '', class:'btn btn-success', target:'_blank'</a>
  </div>
  <div class="clearfix"/>
  <h4>Excerpt</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
