<h1><%= @page_title %></h1>
<p>This is the about page.</p>
<p>Lorem ipsum... -->
<div class="well">
  <h3 Location info</h3>
  <ul>
    <li>My bookstore</li>
    <li>123 any street</li>
    <li>Cooltown, NC, 27712</li>
    <li>Phone: 123-456-7890</li>
    <li>Email: whatever@example.org</li>
  </ul>
</div>
<!--p>Find me in app/views/about/index.html.erb</p-->
